@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}

main {
  padding: 0 10vw 0 10vw;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 4rem;
  color: #3563e9;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

.simpleList {
  list-style: none;
}
